<p-dialog [(visible)]="display" [modal]="true" [baseZIndex]="10000" [draggable]="false"
  [resizable]="false" [style]="{width: '50vw'}" [transitionOptions]="'0ms'">
  <h1>Edita cliente details</h1>
  <input type="text" [(ngModel)]="nombre">
  <p-footer p-dialog-footer>
    <button type="button" pButton pRipple label="Cancel" class="p-button-secondary" (click)="closeDialog()"></button>
    <button type="button" pButton pRipple label="Confirm" class="p-mr-2" (click)="editClient()"></button>
  </p-footer>
</p-dialog>

<button (click)="showDialog()" pButton pRipple type="button" label="Edit user"
  class="p-button-info"></button>