<p-dialog header="Edit client" [(visible)]="displayPosition" [modal]="true" [baseZIndex]="10000" [draggable]="false"
  [resizable]="false" [style]="{width: '50vw'}" [transitionOptions]="'0ms'">
  <input type="text" [(ngModel)]="name">
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="displayPosition=false" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>

<p-button (click)="showPositionDialog('left')" label="Editar" icon="pi pi-trash" styleClass="p-button-sm">
</p-button>