<p-dialog [(visible)]="display" [style]="{width: '50vw'}"
  [transitionOptions]="'0ms'">
  <ng-template pTemplate="header">
    <h1>Nuevo cliente</h1>
  </ng-template>
  <input type="text" pInputText [(ngModel)]="nombre">
  <p-footer p-dialog-footer>
    <button type="button" pButton pRipple label="Cancel" class="p-button-secondary" (click)="closeDialog()"></button>
    <button type="button" pButton pRipple label="Confirm" class="p-mr-2" (click)="addClient()"></button>
  </p-footer>
</p-dialog>

<div>
  <button type="button" (click)="showDialog()" icon="pi pi-user" label="New client" pButton
    class="p-button-info"></button>
</div>