<p-sidebar [(visible)]="display" styleClass="p-sidebar-lg">
  <nav class="navbar">
    <ul class="navbar__navigator">
      <li class="navbar__navigator-item">
        <a class="navbar__navigator-link" routerLink="/home" routerLinkActive="active">
          Home
        </a>
      </li>
      <li class="navbar__navigator-item">
        <a class="navbar__navigator-link" routerLink="/cliente" routerLinkActive="active">
          Area cliente
        </a>
      </li>
      </ul>
      </nav>
      <router-outlet></router-outlet>
  </p-sidebar>
  <p-button type="text" (click)="display = true" icon="pi pi-plus" label="Show"></p-button>