<app-clientedialog></app-clientedialog>
<p-table [value]="lst">
  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr *ngFor="let cliente of lst; let i = index">
      <td>{{cliente.id}}</td>
      <td>{{cliente.nombre}}</td>
      <td>
        <app-clientedialogedit [name]="cliente.nombre" [indexito]="cliente.id"></app-clientedialogedit>
        <app-clientedialogdelete [indexito]="cliente.id"></app-clientedialogdelete>
      </td>
    </tr>
  </ng-template>
</p-table>



